<!-- Homepage -->
<div class="wrap">
    <h1 class = "HomepageTitle"> Explore Recipes </h1>

    <p class="intro">
        Explore our huge selection of recipe ideas including; desserts, vegan and vegetarian dinner ideas, pasta recipes, and gluten-free recipes.
    </p>

    <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
    <a href="/explore-random" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Show Random</a>



</div>


<!-- Categories -->
