body{
    background-color: rgb(14, 12, 12);
    background-image: url(/img/full_meal.png);
    background-repeat: no-repeat;
    background-size: 90% 80%;
    background-position: center;
    color: white;
    font-family: Palatino, URW Palladio L, serif;
    text-align: center;
    
}
h1{
    padding: 1%;
    font-weight: bold;
}
#navBar{
    background-color: black;
    padding: 1%;

}
.wrap{
    margin-top: 8%;
}
